@import "tailwindcss";

:root {
  /* Design Reference Colors */
  --primary: #ee2b6c;
  --primary-hover: #d61f5b;
  --background-light: #fcf8f9;
  --surface-light: #ffffff;
  --text-main: #1b0d12;
  --text-secondary: #9a4c66;

  --background: var(--background-light);
  --foreground: var(--text-main);

  color-scheme: light; /* Force light mode */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-surface: var(--surface-light);
  --color-text-main: var(--text-main);
  --color-text-secondary: var(--text-secondary);

  --font-display: "Plus Jakarta Sans", sans-serif;
  --font-sans: var(--font-display);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-display);
  overflow-x: hidden;
}

/* Custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #e5e7eb;
  border-radius: 20px;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
